.ddsmoothmenu{
	padding-top: 7px;
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	height: 50px;
	padding: 12px 30px 0;
	font-size: 14px;
	color: #ccc;	
	text-decoration: none;
	font-weight: 400;
	outline: none;
	text-align: left;
	background: url(../images/templatemo_menu_divider.jpg) no-repeat right
}

.ddsmoothmenu ul li a span  { display: block; margin-top: 5px; font-size: 10px; line-height: 10px; color: #888 }

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li a:hover span  { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #fff;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	width: 170px;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #181818;
}

.ddsmoothmenu ul li ul span.bottom { position: absolute; width: 178px; height: 13px; bottom: -13px; left: 0;  background: url(../images/templatemo_smb_b.png) no-repeat; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 400;
	width: 140px; /*width of sub menus*/
	height: 28px;
	padding: 0 0 0 30px;
	margin: 0;
	line-height: 28px;
	font-size: 11px;
	text-align: left;
	background: none;
	color: #999;
	border-top: 1px solid #2d2d2d;
	border-bottom: 1px solid #0c0c0c
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #fff;
	width: 139px;
	padding-left: 31px;
	background: none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow ../images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}

/* menu */
