body{
	width:100%;
	overflow-x:hidden;
	min-width: 1500px;
}
/* 头部 */
.index-top{
   width:100%;
   height:85px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.index-top>div{
   width:40%;
   height:85px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.index-top>div:nth-child(2){
	width:70%;
}
.index-top>div:nth-child(1)>img{
	width:179px;
	height:44px;
}
.index-top>div:nth-child(2)>div{
	width:120px;
	height:100%;
	font-size:16px;
	display:flex;
	justify-content: center;
	align-items: center;

}
.index-top>div:nth-child(2)>div:hover{
    background:#f7941d;
    cursor: pointer;
    color:#fff;
}



