@font-face {
  font-family: 'Flaticon';
  src:  url('../fonts/Flaticon.eot');
  src:  url('../fonts/Flaticon.eot#iefix') format('embedded-opentype'),
    url('../fonts/Flaticon.ttf') format('truetype'),
    url('../fonts/Flaticon.woff2') format('woff2'),
    url('../fonts/Flaticon.woff') format('woff'),
    url('../fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: 'Flaticon' !important;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-cell-phone:before { content: "\f100"; }
.flaticon-straight-quotes:before { content: "\f101"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-technology:before { content: "\f104"; }
.flaticon-graph-line-screen:before { content: "\f105"; }
.flaticon-smartphone-call:before { content: "\f106"; }
.flaticon-electric-light-bulb:before { content: "\f107"; }
.flaticon-e-mail-envelope:before { content: "\f108"; }
.flaticon-tool:before { content: "\f109"; }
.flaticon-angle-pointing-to-left:before { content: "\f10a"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f10b"; }
.flaticon-chart-of-columns:before { content: "\f10c"; }
.flaticon-quotation-mark:before { content: "\f10d"; }
.flaticon-right-arrow-angle:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }
.flaticon-up-arrow-angle:before { content: "\f110"; }
.flaticon-right-arrow-angle-1:before { content: "\f111"; }
.flaticon-double-right-arrows-angles:before { content: "\f112"; }
.flaticon-circle:before { content: "\f113"; }
.flaticon-telephone:before { content: "\f114"; }
.flaticon-three:before { content: "\f115"; }
.flaticon-symbol:before { content: "\f116"; }
.flaticon-line:before { content: "\f117"; }
.flaticon-sign:before { content: "\f118"; }
.flaticon-delete:before { content: "\f119"; }
.flaticon-new-email-outline:before { content: "\f11a"; }
.flaticon-check-symbol:before { content: "\f11b"; }
.flaticon-round:before { content: "\f11c"; }
.flaticon-delete-cross:before { content: "\f11d"; }
.flaticon-location:before { content: "\f11e"; }
.flaticon-clipboard-with-a-list:before { content: "\f11f"; }
.flaticon-shelter:before { content: "\f120"; }
.flaticon-technology-1:before { content: "\f121"; }
.flaticon-fax-with-phone:before { content: "\f122"; }
.flaticon-boat-anchor:before { content: "\f123"; }
.flaticon-interface:before { content: "\f124"; }
.flaticon-photo:before { content: "\f125"; }
.flaticon-social-media:before { content: "\f126"; }
.flaticon-layers:before { content: "\f127"; }
.flaticon-edit-document:before { content: "\f128"; }
.flaticon-people:before { content: "\f129"; }
.flaticon-quote:before { content: "\f12a"; }
.flaticon-support:before { content: "\f12b"; }
.flaticon-paint-palette-and-brush:before { content: "\f12c"; }
.flaticon-arrow:before { content: "\f12d"; }
.flaticon-shape:before { content: "\f12e"; }
.flaticon-cogwheel:before { content: "\f12f"; }
.flaticon-heart:before { content: "\f130"; }
.flaticon-arrows:before { content: "\f131"; }
.flaticon-play-button:before { content: "\f132"; }
.flaticon-home:before { content: "\f133"; }
.flaticon-cross:before { content: "\f134"; }
.flaticon-line-1:before { content: "\f135"; }
.flaticon-right-arrow:before { content: "\f136"; }
.flaticon-arrows-1:before { content: "\f137"; }
.flaticon-time:before { content: "\f138"; }
.flaticon-nature:before { content: "\f139"; }
.flaticon-email:before { content: "\f13a"; }
.flaticon-light-bulb:before { content: "\f13b"; }
.flaticon-letter:before { content: "\f13c"; }
.flaticon-magnifying-glass:before { content: "\f13d"; }
.flaticon-multimedia:before { content: "\f13e"; }
.flaticon-search:before { content: "\f13f"; }
.flaticon-correct:before { content: "\f140"; }
.flaticon-video-camera:before { content: "\f141"; }
.flaticon-stats:before { content: "\f142"; }
.flaticon-arrows-2:before { content: "\f143"; }
.flaticon-arrows-3:before { content: "\f144"; }
.flaticon-arrows-4:before { content: "\f145"; }
.flaticon-arrows-5:before { content: "\f146"; }
.flaticon-arrows-6:before { content: "\f147"; }
.flaticon-checked:before { content: "\f148"; }
.flaticon-line-2:before { content: "\f149"; }
.flaticon-truck:before { content: "\f14a"; }
.flaticon-coin:before { content: "\f14b"; }
.flaticon-headphones:before { content: "\f14c"; }
.flaticon-shopping-bag:before { content: "\f14d"; }
.flaticon-money:before { content: "\f14e"; }
.flaticon-money-1:before { content: "\f14f"; }
.flaticon-garbage:before { content: "\f150"; }
.flaticon-placeholder:before { content: "\f151"; }
.flaticon-heart-1:before { content: "\f152"; }
.flaticon-settings:before { content: "\f153"; }
.flaticon-link:before { content: "\f154"; }
.flaticon-printer:before { content: "\f155"; }
.flaticon-share:before { content: "\f156"; }
.flaticon-house:before { content: "\f157"; }
.flaticon-phone-call:before { content: "\f158"; }
.flaticon-shopping-bag-1:before { content: "\f159"; }
.flaticon-envelope:before { content: "\f15a"; }
.flaticon-bars:before { content: "\f15b"; }
.flaticon-remove:before { content: "\f15c"; }
.flaticon-time-1:before { content: "\f15d"; }
.flaticon-check:before { content: "\f15e"; }
.flaticon-link-1:before { content: "\f15f"; }
.flaticon-check-1:before { content: "\f160"; }
.flaticon-add:before { content: "\f161"; }
.flaticon-computer:before { content: "\f162"; }
.flaticon-menu:before { content: "\f163"; }
.flaticon-anchor:before { content: "\f164"; }
.flaticon-signs:before { content: "\f165"; }
.flaticon-menu-1:before { content: "\f166"; }
.flaticon-wallet:before { content: "\f167"; }
.flaticon-comment:before { content: "\f168"; }
.flaticon-comment-1:before { content: "\f169"; }
.flaticon-arrows-7:before { content: "\f16a"; }
.flaticon-calendar:before { content: "\f16b"; }
.flaticon-picture:before { content: "\f16c"; }
.flaticon-picture-1:before { content: "\f16d"; }
.flaticon-play-button-1:before { content: "\f16e"; }
.flaticon-play-button-2:before { content: "\f16f"; }
.flaticon-success:before { content: "\f170"; }
.flaticon-add-1:before { content: "\f171"; }
.flaticon-home-1:before { content: "\f172"; }
.flaticon-placeholder-1:before { content: "\f173"; }
.flaticon-idea:before { content: "\f174"; }
.flaticon-interface-1:before { content: "\f175"; }
.flaticon-up-arrow:before { content: "\f176"; }
.flaticon-arrows-8:before { content: "\f177"; }
.flaticon-arrows-9:before { content: "\f178"; }
.flaticon-arrows-10:before { content: "\f179"; }
.flaticon-close:before { content: "\f17a"; }
.flaticon-user:before { content: "\f17b"; }
.flaticon-bar-chart:before { content: "\f17c"; }
.flaticon-speech-bubble:before { content: "\f17d"; }
.flaticon-placeholder-2:before { content: "\f17e"; }
.flaticon-technology-2:before { content: "\f17f"; }
.flaticon-technology-3:before { content: "\f180"; }
.flaticon-link-2:before { content: "\f181"; }
.flaticon-trophy:before { content: "\f182"; }
.flaticon-layers-1:before { content: "\f183"; }
.flaticon-monitor:before { content: "\f184"; }
.flaticon-home-2:before { content: "\f185"; }
.flaticon-interface-2:before { content: "\f186"; }
.flaticon-bar-chart-1:before { content: "\f187"; }
.flaticon-message:before { content: "\f188"; }
.flaticon-agenda:before { content: "\f189"; }
.flaticon-maps-and-flags:before { content: "\f18a"; }
.flaticon-delete-1:before { content: "\f18b"; }
.flaticon-cancel:before { content: "\f18c"; }
.flaticon-logout:before { content: "\f18d"; }
.flaticon-line-chart:before { content: "\f18e"; }
.flaticon-menu-2:before { content: "\f18f"; }
.flaticon-like:before { content: "\f190"; }
.flaticon-bar-chart-2:before { content: "\f191"; }
.flaticon-calendar-1:before { content: "\f192"; }
.flaticon-briefcase:before { content: "\f193"; }
.flaticon-agenda-1:before { content: "\f194"; }
.flaticon-technology-4:before { content: "\f195"; }
.flaticon-arrows-11:before { content: "\f196"; }
.flaticon-menu-3:before { content: "\f197"; }
.flaticon-photo-1:before { content: "\f198"; }
.flaticon-settings-1:before { content: "\f199"; }
.flaticon-calendar-2:before { content: "\f19a"; }
.flaticon-mail:before { content: "\f19b"; }
.flaticon-clipboard:before { content: "\f19c"; }
.flaticon-heart-2:before { content: "\f19d"; }
.flaticon-login:before { content: "\f19e"; }
.flaticon-logout-1:before { content: "\f19f"; }
.flaticon-location-pin:before { content: "\f1a0"; }
.flaticon-media-play-symbol:before { content: "\f1a1"; }
.flaticon-user-1:before { content: "\f1a2"; }
.flaticon-download-arrow:before { content: "\f1a3"; }
.flaticon-quality:before { content: "\f1a4"; }
.flaticon-solar-panel:before { content: "\f1a5"; }
.flaticon-renewable-energy:before { content: "\f1a6"; }
.flaticon-solar-energy:before { content: "\f1a7"; }
.flaticon-forest:before { content: "\f1a8"; }
.flaticon-trees:before { content: "\f1a9"; }
.flaticon-nuclear-power:before { content: "\f1aa"; }
.flaticon-chimney:before { content: "\f1ab"; }
.flaticon-wind-mill:before { content: "\f1ac"; }
.flaticon-wind-power:before { content: "\f1ad"; }
.flaticon-wind-energy:before { content: "\f1ae"; }
.flaticon-power:before { content: "\f1af"; }
.flaticon-solar:before { content: "\f1b0"; }
.flaticon-power-1:before { content: "\f1b1"; }
.flaticon-power-2:before { content: "\f1b2"; }
.flaticon-power-3:before { content: "\f1b3"; }
.flaticon-eco:before { content: "\f1b4"; }
.flaticon-power-4:before { content: "\f1b5"; }
.flaticon-energy:before { content: "\f1b6"; }
.flaticon-energy-1:before { content: "\f1b7"; }
.flaticon-quote-1:before { content: "\f1b8"; }
.flaticon-right-quote:before { content: "\f1b9"; }
.flaticon-solar-panel-1:before { content: "\f1ba"; }
.flaticon-solar-energy-1:before { content: "\f1bb"; }
.flaticon-power-5:before { content: "\f1bc"; }
.flaticon-nuclear-plant:before { content: "\f1bd"; }
.flaticon-nuclear-plant-1:before { content: "\f1be"; }
.flaticon-solar-energy-2:before { content: "\f1bf"; }
.flaticon-smart-house:before { content: "\f1c0"; }
.flaticon-car-battery:before { content: "\f1c1"; }
.flaticon-power-6:before { content: "\f1c2"; }
.flaticon-power-7:before { content: "\f1c3"; }
.flaticon-charging:before { content: "\f1c4"; }
.flaticon-solar-energy-3:before { content: "\f1c5"; }
.flaticon-solar-panel-2:before { content: "\f1c6"; }
.flaticon-charging-1:before { content: "\f1c7"; }
.flaticon-electric-car:before { content: "\f1c8"; }
.flaticon-flash:before { content: "\f1c9"; }
.flaticon-flash-1:before { content: "\f1ca"; }
.flaticon-thin-bolt:before { content: "\f1cb"; }
.flaticon-wind-power-1:before { content: "\f1cc"; }
.flaticon-wind-turbine:before { content: "\f1cd"; }
.flaticon-worker:before { content: "\f1ce"; }
.flaticon-idea-1:before { content: "\f1cf"; }
.flaticon-creative:before { content: "\f1d0"; }
.flaticon-hand-shake:before { content: "\f1d1"; }
.flaticon-hand:before { content: "\f1d2"; }
.flaticon-suitcase:before { content: "\f1d3"; }
.flaticon-pie-chart:before { content: "\f1d4"; }
.flaticon-nuclear-plant-2:before { content: "\f1d5"; }
.flaticon-nuclear:before { content: "\f1d6"; }
.flaticon-electric:before { content: "\f1d7"; }
.flaticon-power-line:before { content: "\f1d8"; }
.flaticon-hydro-power:before { content: "\f1d9"; }
.flaticon-hydro-power-1:before { content: "\f1da"; }
.flaticon-water-energy:before { content: "\f1db"; }
.flaticon-wind-energy-1:before { content: "\f1dc"; }
.flaticon-windmill:before { content: "\f1dd"; }
.flaticon-shield:before { content: "\f1de"; }
.flaticon-water-drop:before { content: "\f1df"; }
.flaticon-security:before { content: "\f1e0"; }
.flaticon-honeycomb:before { content: "\f1e1"; }
.flaticon-honeycomb-1:before { content: "\f1e2"; }
.flaticon-solar-energy-4:before { content: "\f1e3"; }
.flaticon-dam:before { content: "\f1e4"; }
.flaticon-green-earth:before { content: "\f1e5"; }
.flaticon-world:before { content: "\f1e6"; }
.flaticon-save:before { content: "\f1e7"; }
.flaticon-wellness-logo:before { content: "\f1e8"; }
.flaticon-leaf:before { content: "\f1e9"; }
.flaticon-settings-2:before { content: "\f1ea"; }
.flaticon-leaf-1:before { content: "\f1eb"; }
.flaticon-settings-3:before { content: "\f1ec"; }
.flaticon-nuclear-plant-3:before { content: "\f1ed"; }
.flaticon-plant:before { content: "\f1ee"; }
.flaticon-fuel-dispenser:before { content: "\f1ef"; }
.flaticon-fuel-station:before { content: "\f1f0"; }
.flaticon-oil:before { content: "\f1f1"; }
.flaticon-bio:before { content: "\f1f2"; }
.flaticon-oil-1:before { content: "\f1f3"; }
.flaticon-system:before { content: "\f1f4"; }
.flaticon-fossil:before { content: "\f1f5"; }
.flaticon-fossil-fuels:before { content: "\f1f6"; }
.flaticon-nuclear-1:before { content: "\f1f7"; }
.flaticon-pump:before { content: "\f1f8"; }
.flaticon-nuclear-2:before { content: "\f1f9"; }
.flaticon-oil-2:before { content: "\f1fa"; }
.flaticon-telephone-1:before { content: "\f1fb"; }
.flaticon-fire:before { content: "\f1fc"; }
.flaticon-fire-1:before { content: "\f1fd"; }
.flaticon-chimney-1:before { content: "\f1fe"; }
.flaticon-nuclear-plant-4:before { content: "\f1ff"; }