.content {
	width: 1200px;
	margin: 0 auto;
}
.header {
	height: 140px;
	line-height: 0;
	position: relative;
	z-index: 3;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.header .logo {
	width: 156px;
	padding-top: 20px;
	position: relative;
	margin-bottom: -30px;
	z-index: 2;
}
.header .logo:before {
	position: absolute;
	content: "";
	width: 156px;
	height: 20px;
	background: #B20405;
	top: 0;
	left: 0;
}
.header .h_tel {
	text-align: right;
	font-size: 15px;
	color: #333;
	line-height: 40px;
	padding-right: 20px;
	margin-bottom: 4px;
}
.header .h_tel span {
	padding-left: 40px;
	background: url("../images/h_tel.png"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/h_tel.png*/) no-repeat left top;
	line-height: 40px;
	display: inline-block;
}
.header .h_tel em {
	font-style: normal;
	font-size: 22px;
	color: #333;
	font-weight: bold;
}
.header .menu {
	margin-top: 24px;
}
.header .menu li {
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header .menu li a {
	display: block;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 33px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
	border: 1px solid transparent;
	border-radius: 5px;
}
.header .menu li:hover a, .header .menu li.cur a {
	border: 1px solid #333;
}
.ty-banner-1 {
	overflow: hidden;
	line-height: 0;
	text-align: center;
}
.ty-banner-1 img {
	visibility: hidden;
}
.ty-banner-1 img.show {
	visibility: visible;
}
.p1-search-1 {
	background: #f2f2f2;
	height: 82px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	font-size: 14px;
}
.p1-search-1 p {
	color: #444;
	line-height: 82px;
}
.p1-search-1 a {
	color: #444;
	display: inline-block;
	margin-right: 15px;
}
.p1-search-1-inp {
	width: 270px;
	height: 30px;
	border-radius: 20px;
	background: #fff;
	padding-left: 10px;
	margin-top: 28px;
}
.p1-search-1-inp input {
	border: 0;
}
.p1-search-1-inp1 {
	width: 224px;
	height: 30px;
	line-height: 30px;
	color: #a9a9a9;
	float: left;
}
.p1-search-1-inp2 {
	width: 30px;
	height: 30px;
	background: url("../images/viskins-p1.png"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/viskins-p1.png*/) no-repeat -258px -936px;
	float: right;
	cursor: pointer;
}
.p12-curmbs-1 {
	font-size: 14px;
	border-bottom: 1px dashed #dcdcdc;
}
.p12-curblock {
	display: none;
}
.p12-curmbs-1 b {
	border-left: 10px solid #333333;
	font-weight: normal;
	padding-left: 8px;
}
.p12-curmbs-1 i {
	font-style: normal;
}
.p12-curmbs-1 span {
	font-family: '宋体';
	padding: 0 5px;
	height: 46px;
	line-height: 46px;
}
 input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
box-shadow: none;
}
.code_gg_li img {
	vertical-align: middle;
	width: 100px;
	height: 32px;
}
.p4-order-form-1 {
	overflow: hidden;
}
.p4-order-form-1 .p4-titlel-1 {
	width: 145px;
	height: 46px;
	font-size: 18px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	background: #b20405;
}
.p4-order-form-1-con {
	border: 1px solid #bbb;
	background: url("../images/r1-orderform-1-bg.jpg"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/r1-orderform-1-bg.jpg*/) no-repeat center bottom #fff;
	padding: 40px 15%;
}
.p4-order-form-1-con li p {
	padding-left: 130px;
	color: #999;
	font-size: 12px;
}
.p4-order-form-1-con li {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 35px;
	color: #666;
	overflow: hidden;
}
.p4-order-form-1-con li span {
	font-weight: bold;
	color: #666;
}
.p4-order-form-1-con li b {
	color: #f00;
}
.p4-order-form-1-con li .row-hd {
	color: #666;
}
.timenum {
	padding-left: 95px;
}
.p4-order-form-1-con li p {
	clear: both;
}
.p4-order-form-1-con label {
	display: inline-block;
	width: 120px;
	color: #666;
	vertical-align: top;
	text-align: right;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
}
#code_gg {
	width: 80px;
	margin-right: 10px;
	outline: none;
	padding-left: 10px;
	border: 1px solid #eee;
	height: 33px;
	line-height: 32px;
	color: #666;
}
.p4-order-form-1-con .inputs, .p4-order-form-1-con li select {
	width: 73%;
	margin-right: 10px;
	outline: none;
	padding-left: 10px;
	border: 1px solid #eee;
	height: 33px;
	line-height: 32px;
	color: #666;
	box-sizing: border-box;/*float: left;*/
}
.p4-order-form-1-con .radioandcheck {
	vertical-align: middle;
}
.p4-order-form-1-con .err {
	border: 1px solid #c00;
}
.p4-order-form-1-con .p4-order-form-1-t1 {
	width: 100%;
}
.p4-order-form-1-t1 textarea {
	width: 73%;
	height: 102px;
	line-height: 24px;
	border: 1px solid #eee;
	outline: none;
	resize: none;
	overflow: auto;
	margin-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.p4-order-form-1-con .p4-order-form-1-t2 {
	width: 100%;
}
.p4-order-form-1-t2 input {
	width: 150px;
	vertical-align: top;
}
.p4-order-form-1-t2 span {
	width: 153px;
	height: 25px;
}
.p4-order-form-1-con .p4-order-form-1-t3 {
	padding-left: 120px;
}
.p4-order-form-1-con .p4-order-form-1-t3 input {
	width: 80px;
	height: 30px;
	border: 0;
	text-align: center;
	margin-right: 30px;
	color: #fff;
	padding-left: 0;
	cursor: pointer;
}
.p4-order-form-1-con .p4-order-form-1-b1 {
	background: #b20405;
}
.p4-order-form-1-con .p4-order-form-1-b2 {
	background: #767676;
}
.p4-order-form-1-con .p4-order-form-1-t4 {
	overflow: auto;
	height: auto;
	min-height: 35px;
	width: 100%
}
.p4-order-form-1-con .p4-order-form-1-t4 input {
	vertical-align: middle;
	width: 14px;
	margin: 0 10px;
}
/*表单弹框*/
.nsw-modal {
	width: 100%;
	height: 100%;
	background: rgba(225, 225, 225, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}
.modal-dialog {
	position: fixed;
	color: #000000;
	top: 150px;
	width: 400px;
	border-radius: 3px;
	min-height: 155px;
	overflow: hidden;
	z-index: 99998;
	margin-left: -200px;
	left: 50%;
}
.modal-dialog .css-icon {
	background-image: url("../images/modal-icons.png"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/modal-icons.png*/);
}
.modal-dialog .modal-head {
	height: 30px;
	line-height: 30px;
	padding: 0px 20px;
	background: #F6EFEF;
	font-size: 14px;
}
.modal-dialog .modal-head .modal-logo {
	width: 15px;
	height: 15px;
	background-position: 1px 0px;
	margin: 8px 5px 0 0;
	float: left;
}
.modal-dialog .modal-head .close {
	float: right;
	width: 15px;
	height: 15px;
	background-position: -14px 0px;
	margin-top: 8px;
}
.modal-dialog .modal-body {
	width: 100%;
	min-height: 125px;
	background: #ffffff;
}
.modal-dialog .modal-body .modal-body-left {
	width: 140px;
	float: left;
}
.modal-dialog .modal-body .modal-body-left .icon {
	width: 64px;
	height: 64px;
	margin: 30px 0 0 48px;
}
.modal-dialog .modal-body .modal-body-left .success-message {
	background-position: 0px -14px;
}
.modal-dialog .modal-body .modal-body-left .warming-message {
	background-position: 0px -78px;
}
.modal-dialog .modal-body .modal-body-right {
	width: 260px;
	float: right;
	padding-top: 20px;
}
.modal-dialog .modal-body .modal-body-right .close-btn {
	color: #000;
	text-align: center;
	width: 90px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: #818079;
}
.modal-dialog .modal-body .modal-body-right p {
	line-height: 30px;
}
.clearfix:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.footer {
	background: #B20405;
	height: 374px;
	overflow: hidden;
}
.footer i {
	font-style: normal;
}
.f_con {
	height: 114px;
	margin-bottom: 41px;
}
.f_con h3 {
	width: 165px;
	padding-top: 34px;
	float: left;
}
.f_menu {
	float: right;
}
.f_menu a {
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 114px;
	float: left;
	padding: 0 21px;
	transition: .3s ease;
	-o-transition: .3s ease;
}
.f_menu a:hover {
	background: #fff;
	color: #453825;
}
.footer h4 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 100%;
}
.footer h4 span {
	padding-left: 10px;
}
.footer h4 i {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-top: 14px;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.f_info {
	padding-top: 28px;
	width: 557px;
	float: left;
	position: relative;
}
.f_info:after {
	position: absolute;
	content: "";
	width: 1px;
	height: 148px;
	background: rgba(255, 255, 255, .3);
	top: 28px;
	right: 0;
}
.f_info h4 {
	margin-bottom: 37px;
}
.f_info p {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}
.f_info p a {
	color: #fff;
}
.f_info p span {
	padding-left: 10px;
}
.f_info p:last-child {
	font-size: 12px;
}
.f_contact {
	padding-top: 28px;
	padding-left: 73px;
	float: left;
}
.f_contact h4 {
	margin-bottom: 32px;
}
.f_contact p {
	font-size: 12px;
	color: #fff;
	line-height: 26px;
}
.f_qr {
	width: 201px;
	float: right;
	padding-top: 54px;
	height: 187px;
}
.f_qr p {
	width: 201px;
	height: 133px;
	background: rgba(69, 56, 37, .26);
	position: relative;
}
.f_qr img {
	width: 147px;
	height: 147px;
	display: block;
	position: absolute;
	top: -54px;
	left: 27px;
}
.f_qr span {
	font-size: 12px;
	color: #fff;
	text-align: center;
	display: block;
	line-height: 100%;
	padding-top: 105px;
}
.client-2 {
	position: fixed;
	right: -170px;
	top: 50%;
	z-index: 900;
}
.client-2 li a {
	text-decoration: none;
}
.client-2 li {
	margin-top: 1px;
	clear: both;
	height: 62px;
	position: relative;
}
.client-2 li i {
	background: url("../images/fx.png"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/fx.png*/) no-repeat;
	display: block;
	width: 30px;
	height: 27px;
	margin: 0px auto;
	text-align: center;
}
.client-2 li p {
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
.client-2 .my-kefu-qq i {
	background-position: 4px 5px;
}
.client-2 .my-kefu-tel i {
	background-position: 0 -21px;
}
.client-2 .my-kefu-liuyan i {
	background-position: 4px -53px;
}
.client-2 .my-kefu-weixin i {
	background-position: -34px 4px;
}
.client-2 .my-kefu-weibo i {
	background-position: -30px -22px;
}
.client-2 .my-kefu-ftop {
	display: none;
}
.client-2 .my-kefu-ftop i {
	width: 33px;
	height: 31px;
	background-position: -23px -47px;
	background-size: 52px 82px;
}
.client-2 .my-kefu-ftop .my-kefu-main {
	padding-top: 6px;
}
.client-2 .my-kefu-left {
	float: left;
	width: 62px;
	height: 47px;
	position: relative;
}
.client-2 .my-kefu-tel-right {
	font-size: 16px;
	color: #fff;
	float: left;
	height: 24px;
	line-height: 22px;
	padding: 0 15px;
	border-left: 1px solid #fff;
	margin-top: 14px;
}
.client-2 .my-kefu-right {
	width: 20px;
}
.client-2 .my-kefu-tel-main {
	background: #b20405;
	color: #fff;
	height: 53px;
	width: 230px;
	padding: 9px 0 0;
	float: left;
}
.client-2 .my-kefu-main {
	background: #b20405;
	width: 97px;
	height: 53px;
	position: relative;
	padding: 9px 0 0;
	float: left;
}
.client-2 .my-kefu-weixin-pic {
	position: absolute;
	left: -130px;
	top: -24px;
	display: none;
	z-index: 333;
}
.my-kefu-weixin-pic img {
	width: 115px;
	height: 115px;
}
