
/* 清除内外边距 */
@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ fieldset, lengend, button, input, textarea, /* form elements 表单元素 */ th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0;
}
input, textarea {
	border: 2 none;
	box-shadow: none;
	outline: none;
}
/* 设置默认字体 */
body {
	width: 100%;
	min-width: 1336px;
	margin: 0 auto;
}
body, button, input, select, textarea {
	font: 14px/22px "Microsoft YaHei";
	color: #666;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4, h5, h6 {
	font-size: 100%;
}
* h1, * h2, * h3, * h4, * h5, * h6 {
	margin: 0px;
} /*覆盖bootstrape对标题加的默认外边距*/
address, cite, dfn, em, i, var {
	font-style: normal;
} /* 斜体扶正 */
/* 重置列表元素 */
ul, ol, li {
	list-style: none;
}
/* 重置文本格式元素 */
a {
	text-decoration: none;
	color: #666;
	word-wrap: break-word;
}/*英文换行*/
a:hover {
	text-decoration: none;
	color: #e60012;
}
/* 重置表单元素 */
legend {
	color: #000;
} /* for ie6 */
fieldset, img {
	border: none;
} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
	overflow-y: scroll;
}
/*设置浮动*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.clearfix:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
/*字体大小*/
.fz12 {
	font-size: 12px;
}
.fz14 {
	font-size: 14px;
}
.fz16 {
	font-size: 16px;
}
.fz18 {
	font-size: 18px;
}
.fz20 {
	font-size: 20px;
}
.fz22 {
	font-size: 22px;
}
.clear {
	clear: both;
	height: 0;
}
.blk-main .clearlist {
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	float: none;
}
/*表单弹框*/

.nsw-modal {
	width: 100%;
	height: 100%;
	background: rgba(225, 225, 225, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}
.modal-dialog {
	position: fixed;
	color: #000000;
	top: 150px;
	width: 400px;
	border-radius: 3px;
	min-height: 155px;
	overflow: hidden;
	z-index: 99998;
	margin-left: -200px;
	left: 50%;
}
.modal-dialog .css-icon {
	background-image: url("../images/modal-icons.png"/*tpa=http://zf051014.demo.mxyhn.xyz/skin/images/modal-icons.png*/);
}
.modal-dialog .modal-head {
	height: 30px;
	line-height: 30px;
	padding: 0px 20px;
	background: #F6EFEF;
	font-size: 14px;
}
.modal-dialog .modal-head .modal-logo {
	width: 15px;
	height: 15px;
	background-position: 1px 0px;
	margin: 8px 5px 0 0;
	float: left;
}
.modal-dialog .modal-head .close {
	float: right;
	width: 15px;
	height: 15px;
	background-position: -14px 0px;
	margin-top: 8px;
}
.modal-dialog .modal-body {
	width: 100%;
	min-height: 125px;
	background: #ffffff;
}
.modal-dialog .modal-body .modal-body-left {
	width: 140px;
	float: left;
}
.modal-dialog .modal-body .modal-body-left .icon {
	width: 64px;
	height: 64px;
	margin: 30px 0 0 48px;
}
.modal-dialog .modal-body .modal-body-left .success-message {
	background-position: 0px -14px;
}
.modal-dialog .modal-body .modal-body-left .warming-message {
	background-position: 0px -78px;
}
.modal-dialog .modal-body .modal-body-right {
	width: 260px;
	float: right;
	padding-top: 20px;
}
.modal-dialog .modal-body .modal-body-right .close-btn {
	color: #000;
	text-align: center;
	width: 90px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: #818079;
}
.modal-dialog .modal-body .modal-body-right p {
	line-height: 30px;
